@import "../../styles/variable.scss";

.wrapper {
  max-width: 130px;
  width: 100%;
  height: 15vh;
  margin: 0 0.5vw;
  overflow: scroll;
  position: absolute;
  background-color: $color-accent-yellow;
  border-radius: $border-radius-for-news;
  z-index: 3;
}

.currency {
  margin-left: 0.5vw;
  cursor: pointer;

  &:hover {
    color: white;
  }
}
