$background-color-light: #9b786f;
$background-color-dark: #9d8d8f;
$background-color-light-pink: #fcf2f2;
$background-color-dark-black: #42393a;
$color-accent-yellow: #faed26;
$border-radius-for-news: 8px;